# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore Java class files
*.class

# Ignore Java archive files
*.jar
*.war
*.ear

# Ignore IDE files (IntelliJ IDEA)
.idea/
*.iml

# Ignore VS Code files
.vscode/

# Ignore log files
*.log
