<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Centri di Adozione per Animali</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

</head>
<body>

<div class="navbar">
    <a href="index.html">Home</a>
    <a href="centri.html">Centri</a>
    <div class="dropdown">
        <button class="dropbtn">Animali ▼</button>
        <div class="dropdown-content">
            <a href="pagina1.html">Informazioni Generali</a>
            <a href="pagina2.html">Ricerca Animali</a>
            <a href="pagina3.html">Fascicolo Sanitario</a>
            <a href="pagina2.html">Gestione Caratteristiche</a>
            <a href="pagina2.html">Gestione Componenti per Meticci</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Razze ▼</button>
        <div class="dropdown-content">
            <a href="pagina1.html">Informazioni Generali</a>
            <a href="pagina2.html">Gestione Razze e Specifiche</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Richiedenti ▼</button>
        <div class="dropdown-content">
            <a href="pagina1.html">Informazioni Generali</a>
            <a href="pagina3.html">Gestione Richieste</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Lavoratori ▼</button>
        <div class="dropdown-content">
            <a href="pagina1.html">Informazioni Generali</a>
            <a href="pagina2.html">Dipendenti</a>
            <a href="pagina3.html">Volontari</a>
            <a href="pagina1.html">Gestione Turni e Task</a>
        </div>
    </div>
    <a href="centri.html">Spazi</a>
    <div class="dropdown">
        <button class="dropbtn">Statistiche ▼</button>
        <div class="dropdown-content">
            <a href="pagina1.html">Ricerca Statistiche</a>
            <a href="pagina2.html">Aggiorna Statistiche</a>
        </div>
    </div>
    <a href="contatti.html">Contatti</a>
</div>

<h1>Benvenuto nella Home</h1>
<p>Questo è un esempio di menu a tendina per navigare tra pagine diverse.</p>

</body>
</html>